aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
aspose-cells==22.7.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
backcall==0.2.0
base32hex==1.0.2
beautifulsoup4==4.11.1
bleach==5.0.1
bs4==0.0.1
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
chronometry==2020.11.12
click==8.1.3
colorama==0.4.5
colouration==2020.7.26
cryptography==37.0.4
cycler==0.11.0
dataframe-image==0.1.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.5.1
disk==2021.6.29
dispatch==2.0.6
distro==1.7.0
Django==3.2.11
djangorestframework==3.12.2
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.10.0
fastjsonschema==2.16.1
flatbuffers==1.12
fonttools==4.37.1
frozenlist==1.3.1
func-timeout==4.3.5
fuzzywuzzy==0.18.0
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
idna==3.3
imageio==2.21.1
img2pdf==0.4.4
iniconfig==1.1.1
ipython==8.4.0
isodate==0.6.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
JPype1==1.4.0
jsonfield==3.1.0
jsonschema==4.14.0
jupyter_client==7.3.5
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.1
lightgbm==3.3.2
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==2.0.4
multidict==6.0.2
multitasking==0.0.11
mysql-connector==2.2.9
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.6
nltk==3.7
numpy==1.23.0
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pdf==2020.11.12
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20220524
pdftotree==0.5.0
pickleshare==0.7.5
pikepdf==5.6.0
Pillow==9.2.0
pip==22.2.2
pip-review==1.1.1
pluggy==1.0.0
prompt-toolkit==3.0.30
protobuf==3.19.4
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
pyzmq==23.2.1
ravenclaw==2020.11.12
rdflib==6.2.0
regex==2022.7.9
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
schedule==1.1.0
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.8.1
selectivesearch==0.4
Send2Trash==1.8.0
setuptools==58.1.0
silverware==2020.11.12
six==1.16.0
sklearn==0.0
slytherin==2020.11.12
soupsieve==2.3.2.post1
SPARQLWrapper==2.0.0
sqlparse==0.4.2
stack-data==0.5.0
tabula-py==2.5.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
textblob==0.17.1
Theano==1.0.5
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
tomli==2.0.1
torch==1.11.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
txt==2020.11.12
typing_extensions==4.2.0
urllib3==1.26.9
Wand==0.6.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
wheel==0.37.1
wrapt==1.14.1
yarl==1.8.1
yfinance==0.1.74
absl-py==1.1.0